<div class="wrapper">
  <div class="container " *ngIf="listaSensores">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Sensores</h2>
      </div>
    </div>

    <button type="button" class="btn btn-default btn-round" data-toggle="modal" data-target="#exampleModalCenter" (click)="novoSensor()"><i class="fa fa-plus"></i> Incluir Sensor</button>
    <br>
    <br>
    <div >
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr class="row">
            <th class="col-4">Nome Sensor</th>
            <th class="col-4">Localização</th>
            <th class="col-2">Zona</th>
            <th class="col-2"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="row" *ngFor="let sensor of listaSensores">
            <td class="col-4">{{sensor.nomeSensor}}</td>
            <td class="col-4">{{sensor.localizacao}}</td>
            <td class="col-2">{{sensor.zona.nomeZona}}</td>

                        <td class="col-2 td-actions text-left">
<!--                          <button type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"-->
<!--                                  class="btn btn-success btn-link btn-sm" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--                            <i class="fa fa-edit"></i>-->
<!--                          </button>-->
                          <button type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remover"
                                  class="btn btn-danger btn-link btn-sm" (click)="excluirSensorPorId(sensor.idSensor)">
                            <i class="fa fa-times"></i>
                          </button>
                        </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <form [formGroup]="incluirSensorForm" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Incluir Novo Sensor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body h-80">
          <div class="form-group row align-items-center h-80">
            <label for="localizacao" class="col-3 col-form-label mb-3">Localização</label>
            <div class='col-5'>
              <div class="form-group">
                <pseu-input-container errorMassage="Localização Invalida">
                  <input  id="localizacao" type="text" formControlName="localizacao" class="form-control"  [ngModel]="sensorSelecionado.localizacao">
                </pseu-input-container>
              </div>
            </div>

          </div>

          <div class="form-group row align-items-center h-80">
            <label for="nomeSensor" class="col-3 col-form-label mb-3">Nome Sensor</label>
            <div class='col-5'>
              <div class="form-group">
                <pseu-input-container errorMassage="Nome Sensor Invalido">
                  <input  id="nomeSensor" type="text" formControlName="nomeSensor" class="form-control"  [ngModel]="sensorSelecionado.nomeSensor">
                </pseu-input-container>
              </div>
            </div>

          </div>


            <div class="form-group row align-items-center h-80">
              <label for="idZona" class="col-3 col-form-label mb-3">Zona</label>
              <div class='col-5'>
                <div class="form-group">
              <select *ngIf="zonasList" formControlName="idZona" id="idZona" class="form-control"  [ngModel]="zonaSelected.id" (change)="onChangeZona($event.target)" >
                <option *ngFor="let zona of zonasList; let i = index" [value]="zonasList[i].id" >
                  {{zonasList[i].itemName}}
                </option>
              </select>
                </div>
              </div>
            </div>

        </div>
        <div class="modal-footer" >
          <br><br>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="margin-right: 15px" [disabled]="incluirSensorForm.invalid" (click)="salvar(incluirSensorForm.value)">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
