<div class="wrapper">
  <div id="iniciopagina" class="page-header" style="/*background-image: url('./assets/img/home/fundo.principal.sem.texto.png'); background-position: bottom; */background-color: white">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 ml-auto mr-auto">
            <form [formGroup]="loginForm">
              <div class="card card-register">
                <h3 class="card-title">Acesse utilizando sua conta do google.</h3>

                <div class="division">
                  <div class="line"></div>
                </div>
                <div class="container">
                  <a href="https://sica-security.herokuapp.com/oauth2/authorization/google"
                     class="btn btn-danger btn-block"><i class="fa fa-google"></i>
                    Sign in with <b>Google</b></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>



</div>
<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, fullScreenBackdrop: true, animationType: ngxLoadingAnimationTypes.circle}">
</ngx-loading>





