.center {
  align-content: center;
  align-items: center;
  align-self: center;
}

.tituloBorboleta {
  margin-top: 200px;
}

.alinharTituloManutencao{
  color: red;
  font-size: 3em;
  background-color: #B9E678;
  align-content: center;
}



.alinharBorboleta{
  display:inline-block;

}

.containerBorboleta{
  text-align: left;

}

.alinharTitulo{
  display: flex;
  align-items: center
}


.presentation-page {
  margin-top: 50px;
}

.title-brand {
  margin-bottom: 0px;
}
