<footer class="footer footer-green d-print-none">

  <!--style="background-image: url('/assets/img/home/grama.svg'); background-size: 300px 1080px; background-color: white;background-repeat: repeat-x;"-->
  <div class="container">
    <nav class="footer-nav">


    <div id="pagsegurologo" class="row">
        <nav class="footer-nav">

          <div class="credits ml-auto">


				<span class="copyright">

					Projeto de Conclusão de Curso - Criado por Fernanda Machado Neves | Rafael Altagnam da Silva | Rafael Rezende Matos
				</span>


          </div>
        </nav>
    </div>
    </nav>
  </div>

</footer>
